body{
    background-color: #dca280fd;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
}

/*Section light mode*/
.light_mode{
    background-image: linear-gradient(to right, #e97510, #ed842c, #f19242, #f5a057, #f8ad6c);
    color: #FFFFFF;
}
.light_mode_aside{
    background-color: #f99961fd;
    color: #FFFFFF;
}
.light_mode_button_1{
    background-color: #ec9446;
    box-shadow: 2px 2px 4px #dedcdcda;
}
.light_mode_button_2{
    background-color: #e37a1f;
    box-shadow: 2px 2px 4px #c9c9c9da;
}
/*End of section light mode*/

/*Section dark mode*/
.dark_mode{
    background-image: linear-gradient(to right, #000000, #161515, #252423, #333331, #424341);
    color: #FFFFFF;
}
.dark_mode_aside{
    background-color: #545050;
    color: #FFFFFF;
}
.dark_mode_button_1{
    background-color: rgb(108, 107, 107);
    box-shadow: 2px 2px 4px #eee7e7;
    color: #FFFFFF;
}
.dark_mode_button_2{
    background-color: rgb(53, 52, 48);
    box-shadow: 2px 2px 4px #eee7e7;
    color: #FFFFFF;
}
/*End of section dark mode*/

.label{
    font-weight: 600;
    width: 30%;
    height: auto;
    background: none;
    color: #FFFFFF;
    margin-left: -20%;
}
.radio{
    margin: 5px 15px 5px 20px;
    width: 15px;
    height: 15px;
}
#cod_options{
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 6%;
    width: 90%;
}
#logo{
    width: 64px;
    height: 64px;
}

@media only screen and (max-device-width: 850px) {
        main{
            display: block;
            margin: 10px;
            width: 95%;
            height: 1300px;
        } 
        textarea{
            margin: 10% auto 15px 5%;
            width: 90%;
            height: 55%;
            font-size: larger;
            border: none;
        }
        #user_input{
            width: 100%;
            height: 600px;
        }
        #message_output{
            width: 95%;
            height: 600px;
            margin: 10px;
            border-radius: 20px;
            box-shadow: 2px 2px 5px #000000;
            text-align: center;
        }
        #user_input button{
            margin: 10px 5px 10px 10px;
            position: relative;
            top: 5%;
            left: 5%;
            width: 40%;
            height: 45px;
            border-radius: 15px;
            color: white;
            font-weight: 600;
            box-shadow: 2px 2px 4px #000000;
        }
    }

    @media only screen and (min-device-width: 850px){
        main{
            margin: 5px;
            display: flex;
        }
        textarea{
            margin: 10% auto 15px 5%;
            width: 90%;
            height: 50%;
            font-size: larger;
            border: none;
        }
        #user_input{
            width: 60%;
            height: 600px;
        }
        #message_output{
            width: 40%;
            height: 600px;
            float: right;
            margin: 10px 10px 10px 10px;
            border-radius: 20px;
            box-shadow: 2px 2px 5px #000000;
            text-align: center;
        }
        #user_input button{
            margin: 10px 55px 10px 10px;
            position: relative;
            top: 10%;
            left: 20%;
            width: 25%;
            height: 45px;
            border-radius: 15px;
            font-weight: 600;
            box-shadow: 2px 2px 4px #000000;
        }

    }

textarea{
    padding: 10px;
    background: none;
    text-align: justify;
    resize: none;
    color: #FFFFFF;
    font-weight: 600;
}
textarea::placeholder{
    font-weight: 600;
    color: #FFFFFF;
}


button:hover{
    cursor: pointer;
    box-shadow: 2px 2px 4px #FFFFFF;
}
#output{
    margin: 15px;
    height: 40%;
}
#message_output div{
    position: relative;
    
}
#img_aside{
    width: 100px;
    height: 100px;
}
#section_button{
    width: 100%;
    height: 50px;
}
#botao_copiar{
    width: 70%;
    height: auto;
    padding: 10px;
    background-color: #FFFFFF;
    color: #000000;
    font-family: arial;
    font-weight: 600;
    border-radius: 15px;
}


/*
Section button dark light mode
*/
header{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
header div{
    width: 30%;
    right: 0;
}
header label{
    width: 95px;
    height: 40px;
    position: relative;
    display: block;
    border-radius: 40px;
    float: inline-end;
    background-color: #FFFFFF;
    margin: 5px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.5s;
}
header label:after{
    content: "";
    width: 35px;
    height: 35px;
    position: absolute;
    top: 3px;
    left: 3px;
    /*background: linear-gradient(180deg,#ffcc89,#d8860b);*/
    background-image: url(img/sun_icon.png);
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}
header input{
    width: 0;
    height: 0;
    visibility: hidden;
} 
header input:checked + label{
    background-color: #242424;
}
header input:checked + label:after{
    left: 90px;
    transform: translateX(-100%);
    /*background: linear-gradient(180deg,#777,#3a3a3a);*/
    background-image: url(img/moon_icon.png);
    background-position:0px;
    background-size: contain;
}
header label:active:after{
    width: 40px;
}
/*
End of section button dark light mode
*/



footer{
    position: relative;
    font-size: 10px;
    bottom: -30px;
    padding: 10px;
}
